
{% extends "shop-nav.html" %}
{% block content  %}
{% load static %}




<link rel="stylesheet" href="{% static 'css/function.css' %}">

    <br><br><br><marquee style="color: red; margin-top: 10px;" behavior="" direction="">Welcome To The Tailor-Shop  </marquee>  



  


        

  <div style="color: rgb(19, 15, 15);" class="custombox clearfix">
        
      <div class="row" >
<!--from this to-->
        <div style="width: 400px;">
         <div style="position: relative;  position: relative; left: 30%;" class="col-lg-10">
             
                   <div class="post-media card border-danger mb-3" style="max-width: 28rem;">
                      <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="font-weight-bold blue-text">
                  <strong>120$</strong>
                </h4>
                      </div><!-- end media -->
                         <strong>
                    <a href="" class="dark-grey-text">Denim shirt
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                      <div id="cart">
                      <a href="{% url 'product_detail' %}" class="btn btn-primary">See</a>  
                       
                      </div> 
                      
                      <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart

                        

                      
                      
                      
                      
                      <!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col --> 
          </div><!--Here-->
          <div style="width: 400px;">
           <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
             
                   <div class="post-media card border-danger mb-3" style="max-width: 20rem;"> 
                      <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                      </div><!-- end media -->
                      <div>
                      <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                      </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col --> <!--Here-->
          </div>
          <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10 ">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> 
           </div><!--Here-->
              <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10 ">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 18rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
              <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10 ">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
              <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10 ">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
              <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10 ">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
           <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 18rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
           <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
              
                    <div class="post-media card border-danger mb-3" style="max-width: rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
           <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
           <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 20rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
           <div style="width: 400px;">
            <div style="position: relative;  position: relative; left: 20%; " class="col-lg-10">
              
                    <div class="post-media card border-danger mb-3" style="max-width: 18rem;">
                       <img style=" margin-left: auto;   margin-right: auto;  width: 250px; height: 250px;" src="https://images-na.ssl-images-amazon.com/images/I/410el0B7L6L.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 style="position: relative; left:-5%;" class="card-title"> Buy Price:99$</h5>
                       </div><!-- end media -->
                       <div>
                       <a href="#" style="position: relative; left: -5%; width: 30%;" class="btn btn-primary">cart</a>  
                       </div><!-- end meta -->
                 </div><!-- end blog-box -->
             </div><!-- end col --> <!--Here-->
           </div>
    </div><!-- end row -->
  </div><!-- end custom-box -->      


   <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <!--Pagination-->



<!--Site footer -->
   


     <script>
     //Get the button
     var mybutton = document.getElementById("myBtn");
     
     // When the user scrolls down 20px from the top of the document, show the button
     window.onscroll = function() {scrollFunction()};
     
     function scrollFunction() {
       if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
         mybutton.style.display = "block";
       } else {
         mybutton.style.display = "none";
       }
     }
     
     // When the user clicks on the button, scroll to the top of the document
     function topFunction() {
       document.body.scrollTop = 0;
       document.documentElement.scrollTop = 0;
     }
     </script>
     <script>$('.carousel-3d-controls').mdbCarousel3d();</script>






{% endblock %}