
{% extends "nav-base.html" %}
{% load static %}
{% block content %}
        <br><br>
        <!-- table--><link rel="stylesheet" href="{% static 'css/function.css' %}">
        <form action="" method="post" >
        {% csrf_token %}
      
       
           {{c_form.as_p }}

        
            {{f_form.as_p }}


   

<button type="h1"  class="btn btn-danger"  aria-pressed="false">Submit</button>

</form>



<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>


{% endblock %}